.button{
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  font-family: $font-2;
  transition: all .5s ease;
  border: 3px solid;
  border-radius: 3px;
  @include respond(tab-port){
    font-size: 1.7rem;
  }
  &__primary{
    background-color: $color-main;
    color: $text-main;
      border-color: $color-main;
    &:hover{
      background-color: #fff;
      border-color: $color-main;
      color: $text-main;
    }
  }
  &--small{
    padding: .6rem 1.3rem;
font-size: 1.2rem;
  }
}
